html,
body,
main {
    height: 100%;
    margin: 0;
}

main {
    display: flex;
}

.side {
    flex-shrink: 0;
    width: 4px;
    background: linear-gradient(to bottom, #fbda61, #f76b1c);
}

.phrase-reminder {
    flex-grow: 1;
}